@model Candle.DATA.EF.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<div class="breadcrumb-section breadcrumb-bg">
     <div class="container">
          <div class="row">
               <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                         <h1>@ViewBag.Title</h1>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="container">
     <br />
     <br />
     <br />
     <div class="row">
          <div class="col-md-4 offset-4">
               <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                         <label asp-for="CategoryName" class="control-label"></label>
                         <input asp-for="CategoryName" class="form-control" />
                         <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                         <label asp-for="CategoryDescription" class="control-label"></label>
                         <input asp-for="CategoryDescription" class="form-control" />
                         <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                         <input type="submit" value="Edit" class="btn btn-primary" />
                         <a asp-action="Index" id="custom-button">Back to Categories</a>
                    </div>
               </form>
          </div>
     </div>
     <br />
     <br />
     <br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
