@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>@ViewBag.Title | Candles</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="~/assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="~/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="~/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="~/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="~/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="~/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="~/assets/css/responsive.css">

	<!--custom css-->
	<link rel="stylesheet" href="~/custom.css"/>

	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

</head>
<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item">
									<a href=@Url.Action("Index", "Home")>Home</a>
								</li>
								@* @if (User.IsInRole("Admin")) *@
								@* { *@
								<li>
									<a href="#">Admin</a>
									<ul class="sub-menu">
										<li><a href=@Url.Action("ListRoles", "Administration")>Roles</a></li>
										<li><a href=@Url.Action("ListUsers","Administration")>Users</a></li>
										<li><a href=@Url.Action("Index","Categories")>Categories</a></li>
										<li><a href=@Url.Action("Index","Orders")>Orders</a></li>
									</ul>
								</li>
								@* } *@
								<li><a href=@Url.Action("Index", "Products")>Shop</a></li>
								<li><a href=@Url.Action("Index", "Contact")>Contact</a></li>
								<li>
									<a href="#">Profile</a>
									<ul class="sub-menu">
										<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
										<li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>

									</ul>
								</li>
								<li>
									<div class="header-icons m-2">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										@* <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a> *@
									</div>
								</li>
							</ul>
						</nav>
						@* 							<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						*@							<div class="mobile-menu"></div>
						@{/*TODO find the login btn like in GadgetStore*/}
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
		</div>
	
	<!-- end header -->
	
	@RenderSection("Hero", false)

		@RenderBody()

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 offset-2">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 offset-3">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href=@Url.Action("Index", "Home")>Home</a></li>
							<li><a href=@Url.Action("Index", "Products")>Shop</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row offset-1">
				<div class="col-lg">
					<p>
						Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
					<p>
						Background Photo by <a href="https://unsplash.com/@@nixcreative?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Tyler Nix</a> on <a href="https://unsplash.com/photos/person-holding-white-candle-holder-3SbuiAt8mO0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
					</p>
					<p>
						Photo by <a href="https://unsplash.com/@@tspoonphoto?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Tina Witherspoon</a> on <a href="https://unsplash.com/photos/white-candles-on-brown-wooden-table-9xEOFi3uGpM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

					</p>
				</div>
				
				<div class="col-lg">
					<p>
						Photo by <a href="https://unsplash.com/@@claremakes?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Clare Neilson</a> on <a href="https://unsplash.com/photos/a-candle-sitting-on-top-of-a-table-next-to-a-stack-of-books-6e5e-UbR5ng?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
					</p>
					<p>
						Photo by <a href="https://unsplash.com/@@norvilas?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Mindaugas Norvilas</a> on <a href="https://unsplash.com/photos/a-block-of-wax-sitting-on-top-of-a-wooden-board-juJoKq9k4Bo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
					</p>
					<p>
						Photo by <a href="https://unsplash.com/@@denisolvr?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Denis Oliveira</a> on <a href="https://unsplash.com/photos/lighted-incense-_12PwFpWZZ0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	<!-- jquery -->
	<script src="~/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="~/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="~/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="~/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="~/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="~/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="~/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="~/assets/js/main.js"></script>

	<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

	@RenderSection("Scripts", false)

</body>
</html>
