@model Candle.DATA.EF.Models.Order

@{
    ViewData["Title"] = "Edit Order";
}

<div class="breadcrumb-section breadcrumb-bg">
     <div class="container">
          <div class="row">
               <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                         <h1>@ViewBag.Title</h1>
                    </div>
               </div>
          </div>
     </div>
</div>


<div class="container">
     <br />
     <br />
     <br />
     <div class="row">
          <div class="col-md-4 offset-4">
               <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="OrderId" />
                    <div class="form-group">
                         <label asp-for="UserId" class="control-label"></label>
                         <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                         <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                         <label class="form-check-label">
                              <input class="form-check-input" asp-for="IsDelivery" /> @Html.DisplayNameFor(model => model.IsDelivery)
                         </label>
                    </div>
                    <div class="form-group">
                         <label asp-for="OrderPlaced" class="control-label"></label>
                         <input asp-for="OrderPlaced" class="form-control" />
                         <span asp-validation-for="OrderPlaced" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                         <input type="submit" value="Edit" class="btn btn-primary" />
                         <a asp-action="Index" id="custom-button">Back to Orders</a>
                    </div>
               </form>
          </div>
     </div>
     <br />
     <br />
     <br />
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
